span.mini {
  font-size:0.8em;
  color:#aaa;
}

div.mainstuff {
  padding-top:60px;
}

form.form-mini {
  margin-bottom:0;
}

td.actions {

}
div#runtimechart {
  height:150px;
}

h2 {
  font-size: 25pt;
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.KILLED, .DONEWITHERROR, .ERROR, .FAILED {
  color: red;
}
.SUCCEEDED {
  color: green;
}

#config {
  padding-bottom: 20px;
}

#user-props {
  padding-bottom: 20px;
}

