span.mini {
  font-size:0.8em;
  color:#aaa;
}

div.mainstuff {
  padding-top:60px;
}

form.form-mini {
  margin-bottom:0;
}

td.actions {

}
.bad {
  background-color: #F2DEDE !important;
}

.good {
  background-color: #DFF0D8 !important;
}

.neutral {
  background-color: #F6F7DA !important;
}

div#runtimechart {
  height:150px;
}